footer {
    /* 가운데 정렬 */
    text-align: center;
    /* 글자색 */
    color: white;
    /* 배경색 */
    background-color: black;   
}

p {
    font-size: 30px;  
}

.tech {
    font-size: 20px;
}

.hello {
    font-size: 30px;
}