<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contents</title>
</head>
<body>
    <header>
        <div id="NangMan">
            <img src="../img/NangManForest.svg" alt="logo"> 
        </div>

        <div id="UserInfo">
            <p>최다인님 안녕하세요</p>
            <p>낭만력 16522</p>
        </div>
    </header>

    <div>
        <h4>낭만 스토리</h4>

        <div>
            <div>
                <p>한강에서 치맥하기</p>
                <p>낭만녕훈</p>
            </div>
            <div>
                <p>낭만의 정석! 한강에서 치킨에 맥주를 마셔보자!</p>
                <p>달성 조건 : 한강에서 치맥 사진 찍어 올리기</p>
            </div>
            <div>
                <img src="" alt="스토리 사진">
            </div>
            <div>
                <p>173명 도전중!</p>
                <p>+500 낭만력 +1000 포인트</p>
            </div>
        </div>
    </div>

    <div>
        <h4>도전중인 낭만가</h4>

        <div>
            <div>
                <p>마슈터키(8)</p>
                <p>도전중...</p>
            </div>
            <div>
                <p>어몽어슈(8)</p>
                <p>성공!</p>
            </div>
        </div>
        <div>
            <p>도전!</p>
        </div>
    </div>

</body>
</html>