<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <div>
        <img src="" alt="profilephoto">
        <p>사용자 이름</p>
        <p>소개소개소개</p>
        <a href="">edit</a>
    </div>

    <div>
        <div>
            <a href="">업적 1</a> 
        </div>
        <div>
            <a href="">업적 2</a>
        </div>
        <div>
            <a href="">업적 3</a>
        </div>
    </div>

    <div>
        <div>
            <h3>도전중인 낭만</h3>
        </div>
        <div>
            <h3>낭만 찜</h3>
            <div>
                <a href="">낭만 1</a>
            </div>
            <div>
                <a href="">낭만 2</a>
            </div>
            <div>
                <a href="">낭만 3</a>
            </div>
            <div>
                <a href="">낭만 4</a>
            </div>
        </div>
        <div>
            <h3>실현된 낭만</h3>
            <div>
                <a href="">실천 낭만 1</a>
            </div>
            <div>
                <a href="">실천 낭만 2</a>
            </div>
            <div>
                <a href="">실천 낭만 3</a>
            </div>
            <div>
                <a href="">실천 낭만 4</a>
            </div>
        </div>
    </div>

</body>
</html>