<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>396368561394-n53c3empndcp8966snkbook1n4v39lro.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.396368561394-n53c3empndcp8966snkbook1n4v39lro</string>
	<key>API_KEY</key>
	<string>AIzaSyDpeP6YH2lAxvAAdh3ZUUGd78T0C1hFl9U</string>
	<key>GCM_SENDER_ID</key>
	<string>396368561394</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.AwesomeProject</string>
	<key>PROJECT_ID</key>
	<string>test-ee18f</string>
	<key>STORAGE_BUCKET</key>
	<string>test-ee18f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:396368561394:ios:0dc0c04924b9c3d0947c6b</string>
</dict>
</plist>